---
import BaseLayout from "../components/layout/BaseLayout.astro";
import { siteConfig } from "../data/site";
import { assetPath, canonicalUrl, homePath } from "../lib/paths";

const socialImagePath = assetPath(siteConfig.defaultSocialImage);
const pageCanonicalUrl = canonicalUrl(homePath);
---

<BaseLayout canonicalPath={homePath}>
  <h1>{siteConfig.name}</h1>
  <p>publishing foundation in progress.</p>
  <p>{siteConfig.defaultDescription}</p>
  <ul>
    <li><a href={homePath}>base-aware home path</a></li>
    <li>default social asset path: <code>{socialImagePath}</code></li>
    <li>canonical url: <code>{pageCanonicalUrl}</code></li>
  </ul>
</BaseLayout>
